/* html{
    color-scheme: dark;
} */

body{
    margin: 0;
    padding: 80px 24px 0 96px;
    background-color: rgb(247, 247, 247);
}

.thumbnail{
    /*width: 300px;  height also changes, to keep dimension*/
    /*height: 300px;  this changes the dimensions of image, if put with width*/
    /*object-fit: contain; 
    border: 2px solid black;
    object-position: bottom;
    to keep dimension when width and height both mentioned,
    cover keeps the image dimension, but shows part of it in the dimension*/
    /*object-position: left; which part of the image to show in the fit cover property*/


    /*object-fit: contain shrinks the image to fit in the dimension*/
    width: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8px;
    row-gap: 40px;
}

.video-preview{
}

.thumb-container{
    margin: 0 0 12px 0;
    position: relative;
}

.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
}

.channel{
    width: 100%;
    border: none;
    border-radius: 50%;
}

.details-container{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture{
}
.video-info{
}

.vid-title{
    margin-top: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}
.vid-author{
    opacity: 0.6;
    font-size: 12px;
    margin-bottom: 0;
}
.vid-views{
    opacity: 0.6;
    font-size: 12px;
    margin-top: 0;
}

/* *HEADER */

.header{
    background-color: rgb(255, 255, 255);
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(224, 223, 223);
    z-index: 100;
}
.left-section{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 24px;
    margin: 0 24px 0 24px;
}
.youtube-logo{
    height: 20px;
}

.middle-section{
    flex: 1;
    margin: 0 35px 0 70px;
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 500px;
}

.search-bar{
    flex: 1;
    height: 37px;
    padding: 0 0 0 12px;
    font-size: 14px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 1px;
    /*box-shadow: inset 1px 1px 3px rgba(0,0,0, 1);*/
    outline: none;
    width: 0;
}

.search-bar::placeholder{
    font-size: 14px;
}

.search-btn{
    height: 41px;
    width: 66px;
    border: 1px solid rgb(247, 247, 247);
    border-radius: 1px;
    margin: 0 8px 0 -1px;
}

.search{
    height: 25px;
}

.voice-search-icon-btn{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
}

.voice-search-icon{
    height: 25px;
}



.right-section{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload{
    width: 23px;
}

.youtube-apps{
    width: 23px;
}

.notifications{
    width: 23px;
}

.nft{
    position: relative;
}

.nft-count{
    position: absolute;
    background-color: rgb(189, 6, 6);
    color: white;
    top: -2px;
    right: -6px;
    font-size: 10px;
    padding: 1px 5px 1px 5px;
    border-radius: 10px;
}

.my-channel{
    width: 35px;
    border: none;
    border-radius: 15px;
    margin: 0 15px 0 0;
}

/* *SIDEBAR */

.sidebar{
    width: 75px;
    background-color: white;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    z-index: 200;
    padding: 5px 0 0 0;
    cursor: pointer;
}

.sidebar-link{
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover{
    background-color: rgb(247, 255, 255);
}

.sidebar-link img{
    height: 24px;
    margin: 0 0 4px 0;
}

.text{
    font-size: 10px;
}